body{
    margin: auto;
}
/*Main container. The parent of every section of the websibe*/
.container{
    display: flex;
    flex-direction: column;
    margin: o;
}
/*Header Section*/
.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 120px;
}
.logo{
    padding: 10px;
    width: 100px;
    align-self: center;
}
ul{
    display: flex;
}
li{
    list-style: none;
    margin: auto 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: #ffffff;
}
/*Hero section*/
.hero{
    display: flex;
    padding: 50px 20px;
    background-color: #1f2937;
    align-items: center;
}
.left-section{
    padding: 50px 100px
}
.left-section>p{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.left-section>a>button{
    padding: 7px 60px;
    background-color: #3882F6;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    color: #ffffff;
}
.right-section{
    padding: 50px 100px
}
.right-section>img{
    width: 400px;
    border-radius: 10px;
}
h1{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
/*Information Section*/
.information>h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #1f2937;
    font-size: 28px;
    margin: 50px 0;
}
/*Cards Information*/
.group-cards{
    display: flex;
    margin: 50px 120px;
    justify-content: space-around;
}
.card{
    padding: 20px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.card>img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: #3882F6 solid 3px;
}
.card>p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #1f2937;
    margin: 10px 30px;
}
/*Testimonial Section*/
.testimonial{
    padding: 100px 250px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: light;
    background-color: #e5e7eb;
}
.testimonial>h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18;
    text-align: right;
}
/*Bottom Call to Action Section*/
.cta{
    display: flex;
    align-items: center;
    margin: 100px 120px;
    background-color: #3882F6;
    padding: 50px;
    border-radius: 10px;
}
.left-cta{
    flex: 3;
    display: block;
    margin: 0 40px;
}
.left-cta>h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: auto;
}
.left-cta>p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin: auto;
}
.right-cta{
    flex: 1;
    display: flex;
    align-items: flex-end;
}
.cta>.right-cta>a>button{
    padding: 7px 60px;
    background-color: #3882F6;
    border: solid #ffffff 3px;
    border-radius: 5px;
    border: solid #ffffff 3px;
    font-weight: bold;
    color: #ffffff;
    margin: auto;
}
/*Footer Section*/
.footer{
    background-color: #1f2937;
    padding: 30px;
}
.footer>p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    margin: auto;
}